<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlántida | Climapp</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<body>
    <img class="bg" src="/assets/img/atlantis.jpg" alt="">

    <%- include("searchbar") %>
    <div class="not-found">
        <h1 class="not-found__title">Bienvenido a la Atlántida</h1>
        <p class="not-found__number">404</p>
        <p class="not-found__desc">Has intentado buscar una ciudad que no existe</p>
    </div>
    <%- include("footer") %>

    <script src="/assets/js/scripts.js"></script>
</body>

</html>