<footer class="footer">
    <p class="footer__text">Creado con ❤️ por <a class="footer__text__link" href="https://juanafanador07.github.io"
            target="_blank">Juan David Afanador</a></p>
</footer>